body {

    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:white;}


form {

    margin: auto;
   background-color: rgb(17, 236, 218);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
   max-width: 600px;

}


h1 {
 text-align: center;
 color: black;

}
fieldset {

    border: 2px solid skyblue;
    border-radius: 8px; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;

}


legend {

    font-weight: bold;

    text-align: left;

    color: rgb(228, 127, 127);

}


label {

    display: block;

    margin-top: 10px;

    color: black;


}


input,textarea {
margin-top: 4px;
padding: 8px;
width: calc(100% - 1px);
border: 1px solid rgb(13, 143, 194);
 border-radius: 4px;
box-sizing: border-box;
}
button {
display: block;
width: 100%;
background-color: rgb(224, 70, 108);
color: black;
border: auto;
border-radius: 4px;
box-shadow: 0 4px 8px rgba(141, 5, 5, 0.5);
margin-top: 10px;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
padding: 10px;
cursor: pointer;
}
button :hover {
color: blue;
}
/* #resume-display {
max-width: 600px;
margin: auto;
padding: 20px;
 border: 2px solid skyblue;
border-radius: 8px;
background-color: rgb(228, 242, 255);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
#resume-display h2 {
color: black;

} */


.resume {
    margin-top: 30px;
    margin-left:300px;
    padding: 20px;
    background-color: #C8A8E9;
    box-shadow: 0 4px 8px rgba(214, 83, 83, 0.5) ;
    border: 1px solid #ddd;
    border-radius:4px;
  max-width:600px;
}